# Dependencies / Packages
node_modules/
venv/
env/
__pycache__/

# Environment & Secret Configuration
.env
.env.local
.env.*.local

# Build & Output Directories
dist/
build/
*.log

# OS Specific Files
.DS_Store
Thumbs.db

# Model Files (On-Device AI)
*.task
*.litertlm
*.bin

# Flutter / Dart Build & Tools
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

.idea/
*.iml

#Flutter
.flutter-plugins
.flutter-plugins-dependencies
